<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
              integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
              crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../static/css/about.css">
        <script src="../static/js/about.js"></script>
        <script src="https://kit.fontawesome.com/4adee6fb32.js"></script>
        <title>Fundief | About</title>
    </head>
    <body>

    <!-- ========================== Header =========================== -->

    <header class= "header">
        <a href="#" class="logo">Fundief</a>

        <input type="checkbox" id="check">

        <label for="check" class="icons">
            <i class="fa-solid fa-bars" id="menu-icon"></i> 
            <i class="fa-solid fa-x" id="close-icon"></i>
        </label>

        <nav id="navbar">
            <a href="{{url_for('home')}}" style="--i:0;">Home</a>
            <a href="{{url_for('about')}}" style="--i:1;">About</a>
            <a href="{{url_for('projects')}}" style="--i:2;">Projects</a>
            <a href="{{url_for('contact')}}" style="--i:3;">Contact</a>       
        </nav>
    </header>

        <!-- ========================== Section 1: About Us =========================== -->

        <section class="sec-1">
            <video class ="video" autoplay loop muted plays-inline>
                <source src="../static/images/team/bgvid.mp4" type="video/mp4">
            </video>
                <div class="heading">
                    <h1>About Us</h1>
                    <div class="text">
                        <p>We, the 'No Brain Cells' is undoubtedly a keen group that's primarily interested in trying out new things. Henceforth, we are trying to step up towards benevolent causes that could change the world for the better, just like Batman is good for the world. We believe in delivering a 'change.' As someone great used to say, "If you want to make enemies, try to change something," and oh do we love making enemies. Diabolical, innit? </p>
                    </div>
                    <a href="#headtxt">More...</a>
                </div>
        </section>

        <!-- ========================== Section 2: Our Team =========================== -->

        <section class="sec-2">
            <div class="container">
                <div class="headtxt" id="headtxt">
                    <h1>Our Team: No Brain Cells</h1>
                </div>

                <div class="sub-container">

                    <div class="teams">
                        <img src="../static/images/team/muaz.jpg" alt="">
                        <div class="name">Muaz Dhanse</div>
                        <div class="desig">CS Engineer, Leader</div>
                        <div class="about">"I am Muaz Dhanse, currently leading my team 'No Brain Cells' whilst we complete our milestone of IBM Internship program. I have always been enthusiastic to learn about new technologies, my skills revolve around Front End Development, Data Analytics, and Project Management."</div>

                        <div class="socials">
                            <a href="https://www.facebook.com/muazdhanseofficial"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.instagram.com/muazdhanse"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com/in/muazdhanse/"><i class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/MuazDhanse"><i class="fab fa-github"></i></a>
                        </div>
                    </div>

                    <div class="teams">
                        <img src="../static/images/team/maria.jpg" alt="">
                        <div class="name">Mariya Dhanse</div>
                        <div class="desig">CS Engineer, Sub-Lead</div>
                        <div class="about">"I am Mariya Dhanse, currently co-ordinating the project proposed by our team 'No Brain Cells' for IBM-led Internship Program. Delving into new techologies is definitely my cup of tea, guess who came up with the group name? FED, Data Science, Documentation - my space."</div>

                        <div class="socials">
                            <a href="https://www.facebook.com/mariyadhanse"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.instagram.com/mariyah_pvt"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/mariyadhanse"><i class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/MariyahWorkspace"><i class="fab fa-github"></i></a>
                        </div>
                    </div>

                    <div class="teams">
                        <img src="../static/images/team/shraddhu.jpg" alt="">
                        <div class="name">Shraddhesh Dhandar</div>
                        <div class="desig">CS Engineer, FE Developer</div>
                        <div class="about">"I'm Shraddhesh Dhandar, a frontend developer enthusiastic about designing intuitive and captivating user interfaces. I've made substantial contributions to numerous projects, emphasizing smooth user interactions and adaptive layouts. My proficiency in HTML, CSS, and JavaScript guarantees superior, effective web solutions."</div>

                        <div class="socials">
                            <a href="https://www.facebook.com/shraddu.dhandar.3"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.instagram.com/shraddudhandar"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/shraddheshdhandar"><i class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/ShraddheshDhandar"><i class="fab fa-github"></i></a>
                        </div>
                    </div>

                    <div class="teams">
                        <img src="../static/images/team/sanskrit.jpg" alt="">
                        <div class="name">Sanskriti Gupta</div>
                        <div class="desig">CS Engineer, Web Designer</div>
                        <div class="about">"I am Shruti Mailaram, a Computer Science Student with a strong focus on Front-end development, Web Designing, and Cloud Computing. I possess skills in HTML,CSS, JavaScript and basic C++. I am passionate about creating impactful web solutions and advancing my knowledge in cloud technologies."</div>

                        <div class="socials">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/shruti-mailaram-abcd01"><i class="fab fa-linkedin"></i></a>
                            <a href="https://GitHub.com/shrutimailaram"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                
                </div>
            </div>
        </section>

        <!-- ========================== Footer =========================== -->
        <footer>
            <div class="footer-row">
                <div class="footer-col">
                    <img src="../static/images/logo.png" alt="Fundief" class="footer-logo">
                    <p class="aboutme-info">Fundief is a disaster relief oriented donation platform that aims at providing monetary support to
                        the victims of natural hazards. Our project, is an attempt to bridge the gap between the communities
                        in need, the providers who can offer and the leveraging technologies that can deliver.</p>
                </div>
                <div class="footer-col">
                    <h3>Office <div class="underline"><span></span></div>
                    </h3>
                    <p>NH-4 Highway</p>
                    <p>Mumbai, Maharashtra</p>
                    <p>PIN - 400612, India</p>
                    <p class="footer-mail">info@fundief.com</p>
                    <h4>1800-141-2024</h4>
                </div>
                <div class="footer-col">
                    <h3>Quick Links<div class="underline"><span></span></div>
                    </h3>
                    <ul>
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('about')}}">About</a></li>
                        <li><a href="{{url_for('projects')}}">Projects</a></li>
                        <li><a href="{{url_for('contact')}}">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h3>Newsletter<div class="underline"><span></span></div>
                    </h3>
                    <form id="newsletter-form">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Enter your email" required>
                        <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
                    </form>
                    <div id="subscribe-success" class="success-msg">Success! You are now a subscriber of our newsletter.
                    </div>
                    <div class="f-social">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
            </div>
            <hr>
            <p class="copyright">&copy; Fundief 2024 | All rights reserved</p>
        </footer>
    </body>
</html>