<html lang="en">
    <!DOCTYPE html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/projects.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" 
        />
        <script src="https://kit.fontawesome.com/4adee6fb32.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        
        <title>Fundief | Projects</title>
    </head>

    <body>
        
    <!-- ========================== Header =========================== -->
    
    <header class= "header">
        <a href="#" class="logo">Fundief</a>

        <input type="checkbox" id="check">

        <label for="check" class="icons">
            <i class="fa-solid fa-bars" id="menu-icon"></i> 
            <i class="fa-solid fa-x" id="close-icon"></i>
        </label>

        <nav id="navbar">
            <a href="{{url_for('home')}}" style="--i:0;">Home</a>
            <a href="{{url_for('about')}}" style="--i:1;">About</a>
            <a href="{{url_for('projects')}}" style="--i:2;">Projects</a>
            <a href="{{url_for('contact')}}" style="--i:3;">Contact</a>  
        </nav>
      </header>

    <!-- ========================== Section: Priority Slider =========================== -->
    
    <section class="sec-1">
            <div class="sec-1-heading">
                <h1 class="h-primary">Priority Projects</h1>
            </div>
            <div class="sec-1-slider">
                <div class="slides fade">
                    <img src="../static/images/projects/floods.jpg" alt="">
                    <div class="text"> 
                        <h2>Indian Floods</h2>
                                <h3>Location: Maharashtra, Gujarat, Andhra Pradesh, Himachal Pradesh</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus commodi animi quisquam repudiandae sint corrupti aliquam doloribus explicabo nihil nesciunt debitis dignissimos laudantium adipisci, excepturi dolor architecto modi voluptates ut. Ut nesciunt sed iste, voluptate laudantium, cupiditate ullam saepe provident vitae quos eaque laboriosam sint ipsum? Minus laudantium saepe ex? </p>
                                <button onclick="navigateToPage()">Donate</button>
                    </div>
                </div>
                <div class="slides fade">
                    <img src="../static/images/projects/landslide.jpg" alt="">
                    <div class="text"> 
                        <h2>Landslides</h2>
                                <h3>Location: Wayanand (Kerala, India), Yunnan (China), Papua New Guinea</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus commodi animi quisquam repudiandae sint corrupti aliquam doloribus explicabo nihil nesciunt debitis dignissimos laudantium adipisci, excepturi dolor architecto modi voluptates ut. Ut nesciunt sed iste, voluptate laudantium, cupiditate ullam saepe provident vitae quos eaque laboriosam sint ipsum? Minus laudantium saepe ex? </p>
                                <button onclick="navigateToPage()">Donate</button>
                    </div>
                </div>
                <div class="slides fade">
                    <img src="../static/images/projects/wildfire.jpg" alt="">
                    <div class="text"> 
                        <h2>Wildfires</h2>
                                <h3>Location: US, Spain, Canada, Greece</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus commodi animi quisquam repudiandae sint corrupti aliquam doloribus explicabo nihil nesciunt debitis dignissimos laudantium adipisci, excepturi dolor architecto modi voluptates ut. Ut nesciunt sed iste, voluptate laudantium, cupiditate ullam saepe provident vitae quos eaque laboriosam sint ipsum? Minus laudantium saepe ex? </p>
                                <button onclick="navigateToPage()">Donate</button>
                    </div>
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <div style="text-align: center">
                <span class="dot" onclick="currentSlides(1)"></span>
                <span class="dot" onclick="currentSlides(2)"></span>
                <span class="dot" onclick="currentSlides(3)"></span>
                <script src="../static/js/projects.js"></script>
            </div>
        </section>

        <!-- ========================== Heading: Categories =========================== -->

        <div class="sec-heading">
            <h1 class="h-primary">Categories</h1>
        </div>

        <!-- ========================== Sub-Section 1: Floods Slider =========================== -->
        <section class="sec">
            <div id="F"><h2 class="h-secondary">Floods</h2></div>
            <button class="prev-btn"><img src="../static/images/projects/arrow.png" alt=""></button>
            <button class="next-btn"><img src="../static/images/projects/arrow.png" alt=""></button>

            <div class="container">
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Bangladesh Floods</span>
                        <img class="image" src="../static/images/projects/floodimgs/flood1.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Assam Floods</span>
                        <img class="image" src="../static/images/projects/floodimgs/flood2.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Kolkata Floods</span>
                        <img class="image" src="../static/images/projects/floodimgs/flood3.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Florida Floods</span>
                        <img class="image" src="../static/images/projects/floodimgs/flood4.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Madhya Pradesh Floods</span>
                        <img class="image" src="../static/images/projects/floodimgs/flood5.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Orissa Floods</span>
                        <img class="image" src="../static/images/projects/floodimgs/flood6.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Delhi Floods</span>
                        <img class="image" src="../static/images/projects/floodimgs/flood7.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Henan China Floods</span>
                        <img class="image" src="../static/images/projects/floodimgs/flood8.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Houston Floods</span>
                        <img class="image" src="../static/images/projects/floodimgs/flood9.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Brazil Floods</span>
                        <img class="image" src="../static/images/projects/floodimgs/flood10.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
            </div>
            <script src="../js/projects.js"></script>
        </section>

        <!-- ========================== Sub-Section 2: Earthquake Slider =========================== -->
        
        <section class="sec">
            <div id="E"><h2 class="h-secondary">Earthquakes</h2></div>
            <button class="prev-btn"><img src="../static/images/projects/arrow.png" alt=""></button>
            <button class="next-btn"><img src="../static/images/projects/arrow.png" alt=""></button>

            <div class="container">
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Turkey Earthquakes</span>
                        <img class="image" src="../static/images/projects/earthquakeimgs/eq1.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="wrapper">
                        <span class="name">Japan Earthquakes</span>
                        <img class="image" src="../static/images/projects/earthquakeimgs/eq2.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="wrapper">
                        <span class="name">Taiwan Earthquakes</span>
                        <img class="image" src="../static/images/projects/earthquakeimgs/eq3.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="wrapper">
                        <span class="name">China Earthquakes</span>
                        <img class="image" src="../static/images/projects/earthquakeimgs/eq4.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="wrapper">
                        <span class="name">Indonesia Earthquakes</span>
                        <img class="image" src="../static/images/projects/earthquakeimgs/eq5.jpeg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="wrapper">
                        <span class="name">Poland Earthquakes</span>
                        <img class="image" src="../static/images/projects/earthquakeimgs/eq6.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="wrapper">
                        <span class="name">Afghanistan Earthquakes</span>
                        <img class="image" src="../static/images/projects/earthquakeimgs/eq7.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="wrapper">
                        <span class="name">Albania Earthquakes</span>
                        <img class="image" src="../static/images/projects/earthquakeimgs/eq8.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="wrapper">
                        <span class="name">Tonga Earthquakes</span>
                        <img class="image" src="../static/images/projects/earthquakeimgs/eq9.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Columbia Earthquakes</span>
                        <img class="image" src="../static/images/projects/earthquakeimgs/eq10.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
            </div>
            <script src="../js/projects.js"></script>
        </section>
       
        <!-- ========================== Sub-Section 3: Animals Slider =========================== -->
        
        <section class="sec">
            <div id="A"><h2 class="h-secondary">Animals</h2></div>
            <button class="prev-btn"><img src="../static/images/projects/arrow.png" alt=""></button>
            <button class="next-btn"><img src="../static/images/projects/arrow.png" alt=""></button>

            <div class="container">
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Dog Rescues</span>
                        <img class="image" src="../static/images/projects/animalimgs/ani1.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Cat Rescues</span>
                        <img class="image" src="../static/images/projects/animalimgs/ani2.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Wildlife Conservation</span>
                        <img class="image" src="../static/images/projects/animalimgs/ani3.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Elephant Care</span>
                        <img class="image" src="../static/images/projects/animalimgs/ani4.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Sanctuaries</span>
                        <img class="image" src="../static/images/projects/animalimgs/ani5.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Animal Equality</span>
                        <img class="image" src="../static/images/projects/animalimgs/ani6.png" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Save Rhinos</span>
                        <img class="image" src="../static/images/projects/animalimgs/ani7.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Extint Animals</span>
                        <img class="image" src="../static/images/projects/animalimgs/ani8.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Marine Life</span>
                        <img class="image" src="../static/images/projects/animalimgs/ani9.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Help Pandas</span>
                        <img class="image" src="../static/images/projects/animalimgs/ani10.jpeg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
            </div>
            <script src="../js/projects.js"></script>
        </section>

        <!-- ========================== Sub-Section 4: Wildfires Slider =========================== -->
        
        <section class="sec">
            <div id="W"><h2 class="h-secondary">Wildfires</h2></div>
            <button class="prev-btn"><img src="../static/images/projects/arrow.png" alt=""></button>
            <button class="next-btn"><img src="../static/images/projects/arrow.png" alt=""></button>

            <div class="container">
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Chile</span>
                        <img class="image" src="../static/images/projects/wildfireimgs/wf1.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Columbia</span>
                        <img class="image" src="../static/images/projects/wildfireimgs/wf2.jpeg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Beliz</span>
                        <img class="image" src="../static/images/projects/wildfireimgs/wf3.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Algeria</span>
                        <img class="image" src="../static/images/projects/wildfireimgs/wf4.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Honduras</span>
                        <img class="image" src="../static/images/projects/wildfireimgs/wf5.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">India</span>
                        <img class="image" src="../static/images/projects/wildfireimgs/wf6.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Maudonia</span>
                        <img class="image" src="../static/images/projects/wildfireimgs/wf7.jpeg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">North America</span>
                        <img class="image" src="../static/images/projects/wildfireimgs/wf8.jpeg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Tunisia</span>
                        <img class="image" src="../static/images/projects/wildfireimgs/wf9.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Alaska</span>
                        <img class="image" src="../static/images/projects/wildfireimgs/wf10.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
            </div>
            <script src="../js/projects.js"></script>
        </section>
        
        <!-- ========================== Sub-Section 5: Landslides Slider =========================== -->
        
        <section class="sec">
            <div id="L"><h2 class="h-secondary">Landslides</h2></div>
            <button class="prev-btn"><img src="../static/images/projects/arrow.png" alt=""></button>
            <button class="next-btn"><img src="../static/images/projects/arrow.png" alt=""></button>

            <div class="container">
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Enga Landslide</span>
                        <img class="image" src="../static/images/projects/landslideimgs/ls1.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Vaynad Landslide</span>
                        <img class="image" src="../static/images/projects/landslideimgs/ls2.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Phillipines Landslide</span>
                        <img class="image" src="../static/images/projects/landslideimgs/ls3.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">California Landslide</span>
                        <img class="image" src="../static/images/projects/landslideimgs/ls4.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">San Diego Landslide</span>
                        <img class="image" src="../static/images/projects/landslideimgs/ls5.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Bali Landslide</span>
                        <img class="image" src="../static/images/projects/landslideimgs/ls6.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Big Sur Landslide</span>
                        <img class="image" src="../static/images/projects/landslideimgs/ls7.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Blue Mountains Landslide</span>
                        <img class="image" src="../static/images/projects/landslideimgs/ls8.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Estoria Landslide</span>
                        <img class="image" src="../static/images/projects/landslideimgs/ls9.jpeg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Subansiri Landslide</span>
                        <img class="image" src="../static/images/projects/landslideimgs/ls10.jpeg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
            </div>
            <script src="../js/projects.js"></script>
        </section>

        <!-- ========================== Sub-Section 6: Diseases Slider =========================== -->
        
        <section class="sec">
            <div id="D"><h2 class="h-secondary">Diseases</h2></div>
            <button class="prev-btn"><img src="../static/images/projects/arrow.png" alt=""></button>
            <button class="next-btn"><img src="../static/images/projects/arrow.png" alt=""></button>

            <div class="container">
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Covid-19</span>
                        <img class="image" src="../static/images/projects/diseaseimgs/d1.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">MERS</span>
                        <img class="image" src="../static/images/projects/diseaseimgs/d2.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Malaria</span>
                        <img class="image" src="../static/images/projects/diseaseimgs/d3.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Tuberculosis</span>
                        <img class="image" src="../static/images/projects/diseaseimgs/d4.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Polio</span>
                        <img class="image" src="../static/images/projects/diseaseimgs/d5.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Cholera</span>
                        <img class="image" src="../static/images/projects/diseaseimgs/d6.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Hepatitis</span>
                        <img class="image" src="../static/images/projects/diseaseimgs/d7.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Dengue</span>
                        <img class="image" src="../static/images/projects/diseaseimgs/d8.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Cancer</span>
                        <img class="image" src="../static/images/projects/diseaseimgs/d9.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
                <div class="card">
                    <div class="wrapper">
                        <span class="name">Blindness</span>
                        <img class="image" src="../static/images/projects/diseaseimgs/d10.jpg" alt="">
                        <button class="btn" onclick="navigateToPage()">Donate Now</button>
                    </div>
                </div>
            </div>
            <script src="../js/projects.js"></script>
        </section>

        <!-- ========================== Footer =========================== -->
        
        <footer>
            <div class="footer-row">
                <div class="footer-col">
                    <img src="../static/images/logo.png" alt="Fundief" class="footer-logo">
                    <p class="aboutme-info">Fundief is a disaster relief oriented donation platform that aims at providing monetary support to
                        the victims of natural hazards. Our project, is an attempt to bridge the gap between the communities
                        in need, the providers who can offer and the leveraging technologies that can deliver.</p>
                </div>
                <div class="footer-col">
                    <h3>Office <div class="underline"><span></span></div>
                    </h3>
                    <p>NH-4 Highway</p>
                    <p>Mumbai, Maharashtra</p>
                    <p>PIN - 400612, India</p>
                    <p class="footer-mail">info@fundief.com</p>
                    <h4>1800-141-2024</h4>
                </div>
                <div class="footer-col">
                    <h3>Quick Links<div class="underline"><span></span></div>
                    </h3>
                    <ul>
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('about')}}">About</a></li>
                        <li><a href="{{url_for('projects')}}">Projects</a></li>
                        <li><a href="{{url_for('contact')}}">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h3>Newsletter<div class="underline"><span></span></div>
                    </h3>
                    <form id="newsletter-form">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Enter your email" required>
                        <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
                    </form>
                    <div id="subscribe-success" class="success-msg">Success! You are now a subscriber of our newsletter.
                    </div>
                    <div class="f-social">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
            </div>
            <hr>
            <p class="copyright">&copy; Fundief 2024 | All rights reserved</p>
            <script src="../js/projects.js"></script>
        </footer>
    </body>
</html>
